<div *ngIf="songs.length; else elseBlock">
  <div class="song-list">
    <div class="song-card" *ngFor="let song of songs">
      <div class="virtical-color"></div>
      <div class="song-info">
        <div class="song-title">
          <div>
            <h1>
              {{ song.title | uppercase }}
            </h1>
          </div>
        </div>
        <div class="song-deets-controls">
          <div class="song-deets">
            <p>
              <span>By </span><span class="artist">{{ song.artist }}</span>
            </p>
            <p>
              <span>Released </span
              ><span class="year">{{ song.year_released }}</span>
            </p>
          </div>

          <div class="song-controls">
            <div class="button">
              <a href="#" (click)="deleteSong(song._id)">DELETE</a
              ><a class="cart-btn" href="#" (click)="updateSong(song._id)"
                ><i class="cart-icon ion-bag"></i>RANDOM UPDATE</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="no-songs">
    <div>YOU NEED MORE MUSIC IN YOUR LIFE. ADD SOME!</div>
    <div>
      <img
        width="100px"
        src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Nomusic.png"
      />
    </div>
  </div>
</ng-template>
